* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #B91547;
  font-family: Arial, Helvetica, sans-serif;
}
/* common style */
.w-33{
  width: calc(100% / 3);
}
.w-100{
  width: 100%;
}
.mt-10{
  margin-top: 10px;
}
.mb-10{
  margin-bottom: 10px;
}
.mt-20{
  margin-top: 20px;
}
.mt-70{
  margin-top: 70px;
}
.pt-20{
  padding-top: 20px;
}
.w-20{
  padding: 20px 0;
  width: 15%;
  height: 75%;
}
/* /common style */

.container {
  width: 900px;
  margin: 2rem auto;
}
section > h1{
  color: white;
  text-transform: uppercase;
}
/* form */
.form_wrapper{  
  text-align: center;
}
.form{
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #585858;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
label{
  display: block;
  padding-bottom: 10px;
}
.btn{
  background-color: #c5c5c5;
  border: 2px solid #757575;
  border-radius: 5px;
  color: #B91547;
  padding: 5px 2px;
}
.btn:active{
  border-color: orange;
}
input,
select{
  border-radius: 5px;
  padding: 0.25px;
  border: 2px solid #B91547;
}

/* ticket */
.ticket{
  background-color: white;
  box-shadow: 5px 5px 5px #585858;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
div>p{
  font-weight: bold;
}
.container-name{
  background-color: #585858;
  padding: 20px 0;
  width: 25%;
  height: 75%;
}
p.name{
  font-size: 20px;
}
#ticket_name{
  text-transform: capitalize;
    margin-top: 1px;
    font-weight: bold;
    text-align: start;
    padding-left: 10px;
    font-size: 20px;
}
.container-discount,
.container-carriage,
.container-cp-number,
.container-ticket-price{
  border-top: 1px solid #585858;
  border-bottom: 1px solid #585858;
}
.details{
    text-align: start;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 70px;
}